.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 1;
  width: 100%;
  /* background-color: var(--dark-grey); */
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column;
  }
}

.profile-img {
  border-radius: 50%;
  max-height: 360px;
  height: 100%;
  max-width: 320px;
  width: 100%;
  min-width: 20px;
  box-shadow: 0 0.5rem 1rem rgba(58, 56, 56, 0.607);
}

@media screen and (max-width: 600px) {
  .content-wrapper > .text-wrapper > p:nth-child(2) {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .content-wrapper > .text-wrapper > p:nth-child(3) {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .content-wrapper > .text-wrapper > p:nth-child(4) {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .content-wrapper > .profile-img {
    height: 44vh;
    width: 40vh;
  }
}

.text-wrapper > p {
  margin: 0;
}

.text-wrapper > .wave {
  font-size: 2rem;
}

.text-wrapper > p:nth-child(1) {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--milky-white);
  position: relative;
  line-height: 32px;
}

.text-wrapper > p:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: var(--white);
  line-height: 32px;
}

.text-wrapper > p:nth-child(3) {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 48px;
  color: var(--orange-shade);
}

.text-wrapper > p:nth-child(4) {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: var(--white);
  margin-top: 0.8rem;
  line-height: 32px;
}

.wave {
  font-size: 2.4rem;
  transform-origin: 70% 70%;
  display: inline-block;
  position: absolute;
  bottom: 0.3rem;
}
