#root {
  margin: 0 auto;
  text-align: center;
}

/* custom scrollbar */

@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 20px;
    background-color: var(--dark-grey);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

@media screen and (max-width: 600px) {
  #root {
    height: 100%;
  }
}
