.experience-container {
  width: 100%;
  height: 100%;
  max-width: 980px;
  margin-block-end: 2rem;
}

.experience-container > p {
  color: var(--milky-white);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}
