.navbar-container {
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: var(--dark-grey);
  z-index: 1;
  justify-content: flex-end;
  /* gap: 2rem; */
  /* box-shadow: 0 1px 0 rgba(231, 146, 83, 0.607); */
}

.navbar-container > .navbar-element {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  min-height: 72px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: var(--milky-white);
  padding: 9px 18px;
}

.navbar-container > .navbar-element:hover {
  transition: 250ms ease;
  color: var(--orange-shade);
}

.navbar-container > .navbar-element > img {
  padding-right: 5px;
}

.navbar-container > .active {
  font-weight: 700;
  color: var(--orange-shade);
}
