.navbar-container {
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background-color: var(--dark-grey);
  z-index: 1;
  justify-content: flex-end;
  box-shadow: 0 5px 10px -2px rgba(231, 146, 83, 40%);
  height: 100%;
  flex-wrap: wrap;
}

.navbar-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.navbar-container li {
  height: 50px;
}

.navbar-container li:first-child {
  margin-right: auto;
}

.navbar-element {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: var(--milky-white);
  padding: 0 30px;
}

.navbar-element:hover {
  transition: 250ms ease;
  color: var(--orange-shade);
}

.navbar-element > img {
  padding-right: 5px;
}

.active {
  font-weight: 700;
  color: var(--orange-shade);
}

@media screen and (max-width: 700px) {
  .main-container > .sidebar-container {
    display: flex;
  }

  .navbar-container > ul > li > label > .hamburger {
    display: block;
  }

  .navbar-container li:not(:first-child):not(:last-child) {
    display: none;
  }

  .navbar-element {
    padding: 0;
  }

  .sidebar-container > ul > li:first-child {
    display: none;
  }
}

.hamburger {
  margin: 10px 20px 0 30px;
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 3px;
  background-color: var(--orange-shade);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  z-index: 9999;
}

.bar1 {
  top: 5px;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger4 .bar4 {
  top: 13.5px;
}

.hamburger4 .bar5 {
  bottom: 4px;
}

.hamburger4 .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger4 .bar3 {
  width: 1px;
  left: 13.5px;
}

.checkbox4:checked + label > .hamburger4 > .bar1 {
  top: 13.5px;
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2 {
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4 {
  background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5 {
  bottom: 13.5px;
  background-color: transparent;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.sidebar-container {
  height: 100%;
  width: 80%;
  background: #262426d5;
  overflow: hidden;
  touch-action: none;
  position: fixed;
  z-index: 10;
  top: 71px;
  right: 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 5px 10px -2px rgba(231, 146, 83, 40%);
  backdrop-filter: blur(10px);
  transition: 2.2s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.sidebar-container label ul {
  margin: 0;
  padding: 0;
}

.sidebar-container li {
  list-style: none;
  padding: 2rem;
}

.sidebar-container li:last-child {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 0 0 0;
}
