.project-container {
  width: 100%;
  height: 100vh;
  max-width: 980px;
  margin-block-end: 2rem;
}

.project-container > .title {
  color: var(--milky-white);
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}

.project-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: row;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .project-wrapper {
    flex-direction: column;
  }
  .project-container {
    height: 100%;
  }
}
